html {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

canvas {
    width: 100%;
    height: 100%;
}

p {
  background-color: #EEEEEE;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 5px;
}

#hud {
  bottom: 10px;
  position: absolute;
  right: 10px;
  z-index: 100;
}

#hurt {
  background-color: red;
  display: none;
  left: 0;
  opacity: 0.15;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 1002;
}

#loading-container {
    position: relative;
    background: #dfdfdf;
    min-height: 100%;
    height: 100%;
}